*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(9, 9, 39);
    color: white;
   
}
.container{
    width: 100%;

    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.generator-container{
    border: 1px solid grey;
    padding: 4rem 6rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 1rem;
    background-color: #2c333e;
    max-width: 90%;
}
.generator-container h1{
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
}
.length-div{
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    

}
.length-div input{
    width: 20%;
    /* border: 1px solid rgb(42, 58, 33);    */
    border: none;

    border-radius: 10px; 
    outline: none;
    background-color: transparent;
    color: white;
    padding: 3px 10px;
    font-size: 1.3rem;

}
#password{
    padding: 5px 10px ;
    border: none;
    border-radius: 10px;
    
    box-shadow: 1px 1px 5px rgb(9, 9, 9);
   
    color: white;
    background-color: transparent;
    font-size: 1.2rem;

}
.btn{
    padding: 7px 14px;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    outline:none ;
    background-color:rgb(62, 31, 31) ;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(9, 9, 9);
}
.btn:hover{
    background-color: rgb(72, 38, 38);
}
.btn:active{
    background-color: rgb(96, 57, 57);
}
.btns-div{
    display: flex;
    
    gap: 1rem;
}
@media only screen and (max-width: 600px) {
    .generator-container{
        padding: 2rem 2rem;
    }
  }